* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #212121;
    color: #eeeeee;
    font-family: system-ui, ui-sans-serif, sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6,
h1 a, h1 a:visited,
h2 a, h2 a:visited,
h3 a, h3 a:visited,
h4 a, h4 a:visited,
h5 a, h5 a:visited, 
h6 a, h6 a:visited {
    line-height: 1.2;
    color: #ffffff;
    text-decoration: none;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    text-decoration: underline;
}

p, ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

a, a:visited {
    color: #ffffff;
}

ul {
    margin-left: 1rem;
}

li {
    padding-bottom: 0.3rem;
}

footer {
    text-align: right;
    padding: 0 1rem 1rem 1rem;
    margin: auto;
    max-width: 900px;
}

.button {
    background-color: #6a1b9a;
    color: #eeeeee;
    text-decoration: none;
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 24px;
    padding: 1rem 1.5rem;
    max-width: 400px;
}

.center {
    text-align: center;
}

.content {
    padding: 1rem;
    max-width: 900px;
    margin: auto;
}

.desc {
    padding-right: 1rem;
    padding-left: 1rem;
}

.icon {
    border-radius: 50%;
    padding-top: 1.25rem;
    padding-bottom: 0.75rem;
}

.qr-code {
    display: block;
    margin-top: 1rem;
}

.qr-code img {
    width: 160px;
    height: 160px;
    border-radius: 8%;
    image-rendering: pixelated;
}

#site-menu ul {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 0;
}

#site-menu {
    background-color: #212121;
    margin: 0px 0px 1rem 0px;
    box-shadow: 0 2px 2px 0 rgba(0 0 0 / 14%), 0 1px 5px 0 rgba(0 0 0 / 12%), 0 3px 1px -2px rgba(0 0 0 / 20%);
    white-space: nowrap;
}

#site-menu ul li {
    display: flex;
    padding-bottom: 0;
}

#site-menu ul li:hover {
    background-color: #424242;
}

#site-menu ul li a {
    color: #ffffff;
    display: flex;
    text-decoration: none;
    padding: 1em;
    align-items: center;
}

#navicon {
    border-radius: 50%;
    margin-right: 1em;
}

@media(prefers-color-scheme:light) {
    body {
        background-color: #fafafa;
        color: #333;
    }
    a, a:visited {
        color: #212121;
    }
    h1, h2, h3, h4, h5, h6,
    h1 a, h1 a:visited,
    h2 a, h2 a:visited,
    h3 a, h3 a:visited,
    h4 a, h4 a:visited,
    h5 a, h5 a:visited, 
    h6 a, h6 a:visited {
        color: #212121;
    }
}
