* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #212121;
    color: #eeeeee;
    font-family: sans-serif;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

a, a:visited {
    color: #eeeeee;
}

ul {
    margin-left: 1rem;
}

li {
    padding-bottom: 0.3rem;
}

footer {
    text-align: right;
    padding: 0 1rem 1rem 1rem;
    margin: auto;
    max-width: 900px;
}

.button {
    background-color: #6a1b9a;
    color: #eeeeee;
    text-decoration: none;
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 24px;
    padding: 1rem 1.5rem;
    max-width: 400px;
}

.center {
    text-align: center;
}

.content {
    padding: 1rem;
    max-width: 900px;
    margin: auto;
}

.desc {
    padding-right: 1rem;
    padding-left: 1rem;
}

.icon {
    border-radius: 50%;
    padding-top: 1.25rem;
    padding-bottom: 0.75rem;
}

#site-menu ul {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 0;
}

#site-menu {
    background-color: #212121;
    box-shadow: 0 2px 2px 0 rgba(0 0 0 / 14%), 0 1px 5px 0 rgba(0 0 0 / 12%), 0 3px 1px -2px rgba(0 0 0 / 20%);
    white-space: nowrap;
}

#site-menu ul li {
    display: flex;
}

#site-menu ul li:hover {
    background-color: #424242;
}

#site-menu ul li a {
    color: #ffffff;
    display: flex;
    text-decoration: none;
    padding: 1em;
    align-items: center;
}

#navicon {
    border-radius: 50%;
    margin-right: 1em;
}
